# Auto detect text files and perform LF normalization
* text=auto
*.fbx filter=lfs diff=lfs merge=lfs -text
*.blend filter=lfs diff=lfs merge=lfs -text
Tesco[[:space:]]With[[:space:]]Your[[:space:]]Friends/Assets/External/**/*.zip filter=lfs diff=lfs merge=lfs -text
Tesco[[:space:]]With[[:space:]]Your[[:space:]]Friends/Assets/External/**/*.png filter=lfs diff=lfs merge=lfs -text
Models/Sign.png filter=lfs diff=lfs merge=lfs -text
**/Models/*.png filter=lfs diff=lfs merge=lfs -text

Tesco[[:space:]]With[[:space:]]Your[[:space:]]Friends/Assets/Scenes/**/*.png filter=lfs diff=lfs merge=lfs -text
Tesco[[:space:]]With[[:space:]]Your[[:space:]]Friends/Assets/Scenes/**/*.exr filter=lfs diff=lfs merge=lfs -text
Tesco[[:space:]]With[[:space:]]Your[[:space:]]Friends/Assets/External/**/*.cubemap filter=lfs diff=lfs merge=lfs -text
Tesco[[:space:]]With[[:space:]]Your[[:space:]]Friends/Assets/External/**/*.cubemap.meta filter=lfs diff=lfs merge=lfs -text